body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #0c0101;
}

header { 
    background-color: #fcbc6f;  
    color: #1c1c1c;
    text-align: center;
    padding: 5px;
}

nav {
    background-color: #fcbc6f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

    nav a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        transition: background-color 0.3s;
    }

        nav a:hover {
            background-color: #333333;
        }
