body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #0c0101;
}

header { 

    background-color: #fcbc6f;  
    color: #1c1c1c;
    text-align: center;
    padding: 1em 0;
}

.logo {
    position: absolute; /* Position the logo absolutely within the header */
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}

nav {
    background-color: #fcbc6f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
}

nav a {
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        padding: 0;
        text-align: center;
        transition: background-color 0.3s;
    }

        nav a:hover {
            background-color: #333333;
        }
