body {

    font-family: Arial, sans-serif;
    /* background-image: url('file:///C:/Users/abugf/Downloads/403612321_252529494172201_1643041307176863918_n.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #080000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /* Changed to row */
    align-items: center;
    justify-content: space-around; /* Space around to give space between elements */
    height: 100vh;
    overflow: scroll;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
    background-color: #fcbc6f;
    position: fixed;
    top: 0;
    z-index: 2;
}

    header a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        font-weight: bold;
    }

    
.description, .combined-container {
    background-color: rgba(243, 230, 201, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 100px; /* Adjusted margin */
    text-align: center;
    width: 30%; /* Adjust the width */
}

    .combined-container button {
        background-color: #fcbc6f;
        color: #000000;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }

    .black-bold-text {
        font-weight: bold;
        color: black;
    }
    

.learn-more-button {
    background-color: #fcbc6f;
    color: #030000;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(140, 115, 91, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #fff;
}

    .popup-form input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

    .popup-form button {
        width: 100%;
        padding: 10px;
        background-color: #fcbc6f;
        color: #020000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .popup-form button:hover {
            background-color: #b98e1b;
        }

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .description, .combined-container {
        width: 90%;
        margin-top: 20px;
    }
}