nav{
    display: flex;
    gap: .5rem;
    justify-content: center;
}
    nav a{
        text-decoration:  none;
        color: rgb(0, 0, 0);
        margin-right: 1rem;
    }
    nav a:hover {
        color: #474454; /* Change to the desired color */
    }

    