*{
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f6cf9a;
    overflow: scroll;
}
header {
    background-color: #fab656;
    color: #1c1c1c;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

 
main.monitoring{
    display: flex;
    justify-content: space-around;
}
#history,
#main{
    display: inline-block;
    vertical-align: top;
    height: 100vh;
}
#history{
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    text-align: center;
    padding: 1rem;
}
    #history ul{
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-y: auto;
        max-height: 90%;
        /* padding-right: 1rem; */
    }   
        #history ul::-webkit-scrollbar {
            width: 12px;
            padding-left: 1rem;
        }
        
        #history ul::-webkit-scrollbar-thumb {
            background-color: #6d777e;
            border-radius: 12px;
        }
        
        #history ul::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 12px;
        }
        #history ul li{
            border: 1px solid white;
            padding: .5rem;
            margin: .2rem .5rem;
            border-radius: 1rem;
            font-size: .8rem;
        }
            #history ul li p{
                padding: 0;
                margin: 0;
                margin-bottom: .2rem;
            }
#main{
    /* margin: 20px; */
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    transition: all .5s ease-in;
    color: white;
    display: inline-block;
    /* width: 300px; */
    flex-grow: 1;
}
    #main #monitoringContainer {
        border: 1px dotted black;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 55rem;
        margin: auto;
        display: inline-block;
    }
        #monitoringContainer #myChart{
            background-color: white;
        }
#timeDisplay {
    margin-top: 20px;
    font-size: 20px;
    color: #ff6600;
    text-align: center;
}
#risk-legend-container {
    display: inline-block;
    /* position: absolute; */
    bottom: 0;
    right: 0;
    margin: 1rem;
    background-color: rgba(14, 14, 14, 0.667);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    width: 220px;
    font-size: xx-small;
}
.risk-legend-item {
    /* display: flex; */
    align-items: center;
    margin-bottom: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.risk-legend-item div{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
}
.risk-legend-item  span{
    line-height: 1.5rem;
}
.risk-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.low-risk { background-color: green; }
.moderate-risk { background-color: yellow; }
.high-risk { background-color: orange; }
.very-high-risk { background-color: red; }
.critical-risk { background-color: purple; }

#timeDisplay{
    color: gray;
    text-shadow: 0 1px 1px black;
}
#warningContainer{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
main#analytics{
    text-align: center;
    }
        main#analytics div{
            display: flex;
            justify-content: center;
        }
        main#analytics ul,
        main#analytics section{
            width: 35%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
            main#analytics section{
                padding: 0 1rem;
            }
                main#analytics section p{
                    line-height: 1.5rem;
                    color: white;
                    text-transform: capitalize;
                }
            main#analytics ul li{
                display: block;
                width: 100%;
                text-align: start;
                padding-left: 7rem;
            }
                main#analytics ul li h4{
                    display: inline-block;
                    margin-right: .5rem;
                }