body, html {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

header {
    background: #fcbc6f;
    color: #060313;
    text-align: center;
    padding: 1em;
}

.background-image {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    /* Set the background image */
    background-image: url('../../assets/adminPage.jpg');

    /* Specify the size and position of the background image */
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    
    /* Set the dimensions of the element */
    width: 100%;
    height: 800px; /* Adjust the height as needed */
}

.box {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(to right, rgba(207, 182, 182, 0.5), rgba(223, 205, 147, 0.5)); /* Semi-transparent gradient */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.5); /* Optional: Adding a shadow for depth */
}

.input-group {
    margin-bottom: 10px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

    .input-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

#controlButtons {
    text-align: center;
}

    #controlButtons button {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 4px;
        background: #5cb85c;
        color: white;
        cursor: pointer;
        font-size: 16px;
    }

        #controlButtons button:hover {
            background: #4cae4c;
        }

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .box {
        margin-bottom: 15px;
    }
}

#fixEdit {
    text-align: center;
    margin-top: 20px; /* Adds space above the fix/edit section */
}

#fixEditButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #fcbc6f; /* A warm color indicating an action like fixing or editing */
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}

    #fixEditButton:hover {
        background: #1c1c1c; /* Darker shade on hover for visual feedback */
    }
#formulaSection{
    text-align: center;
}